body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    /* background-image: url('../img/night_bokeh1.jpg'); */

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    opacity: 0.65;

}

.caption {
  position: relative;
  left: 0;
  top: 11em;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #444;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.title {
  position: absolute;
  left: 0;
  top: 2.5em;
  width: 100%;
  text-align: center;
  color: #000;
}

.title span.border {
  /*background-color: #111;*/
  color: #444;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}


body
{
    font-family: 'Open Sans', sans-serif;
}

.delete-btn
{
    color:maroon;
    cursor:pointer;
    font-size: 1.2em;
    /* display:none; */
}

.time-container
{
    display: table;
    text-align: center;
    margin: auto;
    /* border-top: solid 1px #CCC; */
}

.time-inventory {
   opacity: 0.8;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   display: table-row;
   width:19em;
}

.time-inventory:hover {
    opacity: 1;
}

.time-item
{
    display: table-cell;
    width: auto;
    text-align: left;
    min-width: 19em;
}
.time-item-delete
{
    display: table-cell;
    padding: 0 5px;
    width: 14px;
}

/* for testing */
.time-inventory:hover .delete-btn
{
    display:inline-block;
}

@media (max-width: 320px)
{
    .title span.border
    {
        font-size:18px;
    }
}

.jth-container
{
    display:none;
}

.jth-container:hover
{
    color:#FFF;
    background:#BB1E5B;
}

.jth-container a
{
    color:#FFF;
    text-decoration: none;      
}

.jth-donate-btn {
    display: block;
    position: fixed;
    top: 150px;
    right: -88px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 0px 0px 10px 10px;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); 
}
.jth-donate-btn:active, .jth-donate-btn:visited{
    color: white;
}

a.jth-donate-btn
{
    text-decoration: none;
}

.jth-donate-btn, .jth-container
{
    background:#1F92A2;
    color: white;
    
}
.jth-donate-btn:hover, .jth-container:hover
{
    color:#FFF;
    background:#BB1E5B;
}

@media (max-width: 450px)
{
    .jth-donate-btn {
        display:none;
    }

    .jth-container
    {
        background:#1F92A2;
        transition:all 0.3s ease;
        padding: 0.2em 0;
        font-size:1.3em;
        margin: 0;

        display:block;
        /* position:relative;
        display:block;
        clear:both; */
    }

    .title{
        top: 5em;
    }
}